Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-simplify-boolean-expr
HeaderFilterRegex: '(src|include)/.*'
FormatStyle: file
